################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SCECore/
/obj/Debug/net6.0/SCECore.assets.cache
/obj/Debug/net6.0/SCECore.GeneratedMSBuildEditorConfig.editorconfig
